input.form-control-sm {
  border-radius: 15px;
  padding: 0.2rem 0.2rem;
  font-size: 0.6rem;
  font-size: 15px;
  width: 150px;
  
}
.custom-bg {
  background-color: #96f2a2; 
  padding: 40px;
  margin-top: -16px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}